# Visual Studio Code
.vscode

# virtualenv files
.venv/

# Python specific
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.coverage

# Mac DS_Store files
.DS_Store

# environment variables
.env

# misc
TODO.md

# data
data/*
src/data/*
!src/data/.gitkeep
all_preprocessed.csv
all_preprocessed_old.csv
data/transcripts/*
data/model/*
data/test_transcripts/*
data/old_transcripts/*

TODOs
# LDA stuff
cmusphinx-voxforge-de.dic
lda_model.log
lda_train.model
lda_train.model.expElogbeta.npy
lda_train.model.id2word
lda_train.model.state
mallet-2.0.8.zip
mallet-2.0.8/
nips12raw_str602.tgz

# visualisations for presentation
visualisations/
images/

*.tar.gz

# idea
.idea
*.tar.gz

# frontend stuff
sigmundfrontend/*